@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
  font-family: "NebulaSans", sans-serif;
}

@theme {
  /* Colors */
  --color-primary: #0070b8;
  --color-secondary: #008FEB;

  /* Fonts */
  --font-nebula: "NebulaSans", sans-serif;
  --font-caveat: "Caveat";

  /* Animations */
  --animate-scrolling: scrolling 60s linear infinite;

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes randomRotate {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(45deg);
    }
    40% {
      transform: rotate(120deg);
    }
    65% {
      transform: rotate(240deg);
    }
    85% {
      transform: rotate(315deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
    html {
      /* Default font */
      font-family: var(--font-nebula);
    }
  }

  